* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    margin: 32px;
    font-family: Arial, sans-serif;
    background-color: #F0E9D6;
    height: 100vh;
}
/*This alters the top menu*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
#playstation{
    background-color: #006fcd;
}
.top-menu {
    padding: 10px 0;
}
.top-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}

.top-menu a.active {
    background-color: #418fd3;
    border-radius: 4px;
}
.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.top-menu ul li {
    display: inline;
    margin: 0 15px;
}

.top-menu ul a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


/*This is the div that contains everything*/
.container {
    margin: 5rem;
    margin-top: 60px; /* Add top margin to offset fixed nav height */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: white;
    padding: 2rem;
    height: 100vh;
}
/*box for cart enumerator*/
.cart-box{
    background-color: #c3defa;
    float: right;
    text-align: right;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding: 1rem;
}
.in-stock{
    margin: 16px;
}
#positive{
    color: green;
}
#negative{
    color: red;
}
/*"BUY NOW!" button*/
.buy{
    margin: 2rem;
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
}
#enabled:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
    background-color: rgb(255, 35, 35);
 
}
#enabled :focus {
    box-shadow: 0 0 20px rgba(255, 0, 0, 1);  
}
#disabled{
    background-color: rgb(255, 120, 120);
    cursor: not-allowed;
}
/*Drop down menu to select color*/
.dropdown{
    margin-left: 20px;
}
#menu-select {
    padding: 5px;
    font-size: 16px;
}
.image {
    height: auto;
    width: 300px;
}
/*Div that contains image, dropdown and button*/
.view{
    float: left;
    border-radius: 3px;
    padding: 3rem;
    margin: 2rem;
    margin-bottom: 0;
    padding-top: 0;
    width: 33vw;
    height: 99vh;
}

.text-content {
    font-size: 16px;
    line-height: 1.5;
    align-content: left;
    text-align: left;
}
h6{
    color: blue;
}